.confirmation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
  }
  
  .confirmation-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .confirmation-header {
    color: #65e533
  }
  
  .confirmation-item {
    margin: 10px;
  }

  a{
    margin: 10px;
  }
